:root {
    --gradient-start: rgba(130, 106, 251 , 1);
    --gradient-end: rgba(142, 68, 173, 1);
}
html {
    height: 1700px;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background: rgb(26, 188, 156);
    background: -moz-linear-gradient(-45deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background: -webkit-linear-gradient(-45deg, var(--gradient-start) 0%, var(--gradient-end) 100%);

}

body{
    font-size: 14px;
    font-family: Arial,sans-serif;

}
h3{
    font-variant: small-caps;
    border-radius: 10px 25px;
    border-left: 10px solid #7F7F7F;
    border-bottom: 2px solid #7F7F7F;
    border-top: 0px solid #7F7F7F;
    border-right: 0px solid #7F7F7F;
    padding: 10px;
    width:auto;
}

ul li a:hover {
    color: #fff;
    background: #939393;
}
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
    background: url('https://media.timeout.com/images/105347841/image.jpg');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);

}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #333;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
    cursor: pointer;
}