body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;

}
:root {
    --gradient-start: rgba(26, 188, 156, 1);
    --gradient-end: rgba(142, 68, 173, 1);
}
html {
    height: 700px;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background: rgb(26, 188, 156);
    background: -moz-linear-gradient(-45deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background: -webkit-linear-gradient(-45deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
}


.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-top: 61px;
    text-align: center;
}


.register-link {
    margin-top: 10px;
    color: #555;
}

.register-link a {
    color: #3498db;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
/* Rest of the styles remain the same */




h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form content horizontally */
}


label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Make the button take the full width of the container */
}
button:hover {
    background-color: #2980b9;
}
